.navbar-bottom {
    min-height: 300px;
    margin-top: 100px;
    background-color: #28364f;
    padding-top: 35px;
    color:#FFFFFF;
    }
 

.about {
    text-align: center;
}

.select-style {
    background-color: rgb(37, 37, 37);
    padding-top: 2%;
    padding-bottom: 5%;
}
.select-style h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 3%;
}
.style-examples {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.style-price {
    color: #FFFFFF;
}

.select-style .style-examples .example {
    color: black;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff !important;
  }
  
  .select-style .style-examples .example h2 {
    padding-bottom: 4%;
    font-size: 25px;
  }
  
  .select-style .style-examples .example p {
    padding-top: 4%;
    font-size: 20px;
  }
  .buy-hover.bn28 {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient( to right, #eb3941, #f15e64, #e14e53, #e2373f );
    box-shadow: 0 5px 15px rgb(242 97 103 / 40%);
}

.html-img {
    max-width:55%;
    height:auto;
}